
<div class="container-fluid">
    <div class="jumbotron col-md-12">
        <h2>NumberSets</h2>
        <div class="alert alert alert-danger" ng-show="vm.errorMessage"><strong>{{vm.errorMessage}}</strong></div>
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <table id="card-table-numberSets" class="table">
            <thead>
                <tr>
                    <th class="st-head-row">Id</th>
                    <th class="st-head-row">Name</th>
                    <th class="st-head-row">Description</th>
                    <th class="st-head-row">Min</th>
                    <th class="st-head-row">Max</th>
                    <th class="st-head-row">Numbers</th>
                    <th class="st-head-row">Shuffles</th>
                    <th class="st-head-row">Edit</th>
                    <th class="st-head-row">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="numberSet in vm.numberSets">
                    <td>{{numberSet.numberSetID}}</td>
                    <td>{{numberSet.numberSetName}}</td>
                    <td>{{numberSet.numberSetDescription}}</td>
                    <td>{{numberSet.numberSetMin}}</td>
                    <td>{{numberSet.numberSetMax}}</td>
                    <!--to databind in the href need to use an ng-href-->
                    <td><a ng-href="#!/numberSetNumbers/{{numberSet.numberSetID}}" class="fa fa-th-large"></a></td>
                    <td><a ng-href="#!/shuffles/{{numberSet.numberSetID}}" class="fa fa-random"></a></td>
                    <td><a ng-href="#!/editNumberSet/{{numberSet.numberSetID}}" class="fa fa-pencil-square-o"></a></td>
                    <td><a ng-href="#!/deleteNumberSet/{{numberSet.numberSetID}}" class="fa fa-trash-o"></a></td>
                    <td ng-show="false" ng-if="$last"
                        ng-init="vm.initCardTable()"></td>
                </tr>
            </tbody>
        </table>
        <script>

            //// media query event handler
            if (matchMedia) {
                var mq = window.matchMedia("(min-width: 400px)");
                mq.addListener(WidthChange);
                WidthChange(mq);
            }

            // media query change
            function WidthChange(mq) {
                if (mq.matches) {
                    //alert(" window width is at least 400px");
                    $('.large-only').show();
                    $('.small-only').hide();

                } else {
                    //alert("window width is less than 400px");
                    $('.large-only').hide();
                    $('.small-only').show();
                }
            }

        </script>
    </div>
</div>


