@{
    ViewBag.Title = "Home";
}

@section Scripts{
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/numberSetController.js"></script>
    <script src="~/js/editNumberSetController.js"></script>
    <script src="~/js/numberSetNumbersController.js"></script>
    <script src="~/js/shufflesController.js"></script>    
    <script src="~/js/shuffleNumbersController.js"></script>  
}
<div class="row" ng-app="app">
    <div ng-view>  
    </div>
</div>








